<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.genetechies.ecust_meeting_room.mapper.NotificationMapper">

    <resultMap id="BaseResultMap" type="com.genetechies.ecust_meeting_room.domain.Notification">
            <id property="notificationId" column="notification_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="sentAt" column="sent_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        notification_id,user_id,message,
        sent_at
    </sql>
</mapper>
