<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.genetechies.ecust_meeting_room.mapper.ReservationMapper">

    <resultMap id="BaseResultMap" type="com.genetechies.ecust_meeting_room.domain.Reservation">
            <id property="reservationId" column="reservation_id" jdbcType="INTEGER"/>
            <result property="roomId" column="room_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="subject" column="subject" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="attendees" column="attendees" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="OTHER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        reservation_id,room_id,user_id,
        subject,start_time,end_time,
        attendees,status,created_at
    </sql>
</mapper>
