<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.genetechies.ecust_meeting_room.mapper.RoomAdminMapper">

    <resultMap id="roomAdmins" type="com.genetechies.ecust_meeting_room.domain.RoomAdmin">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="roomId" column="room_id" jdbcType="INTEGER"/>
            <result property="adminId" column="admin_id" jdbcType="INTEGER"/>
        <collection property="users" ofType="com.genetechies.ecust_meeting_room.domain.User">
            <id property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="employeeId" column="employee_id" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="OTHER"/>
            <result property="status" column="status" jdbcType="OTHER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        </collection>
    </resultMap>

    <resultMap id="meetingRoomByAdminId" type="com.genetechies.ecust_meeting_room.domain.RoomAdmin">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="roomId" column="room_id" jdbcType="INTEGER"/>
        <result property="adminId" column="admin_id" jdbcType="INTEGER"/>
        <collection property="meetingRooms" ofType="com.genetechies.ecust_meeting_room.domain.MeetingRoom">
            <id property="roomId" column="room_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="capacity" column="capacity" jdbcType="INTEGER"/>
            <result property="equipment" column="equipment" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="OTHER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        </collection>
    </resultMap>


    <sql id="adminInfo">
        r.id,r.room_id,r.admin_id,u.user_id,u.username,
        u.name,u.employee_id,u.phone,
        u.role,u.status,u.created_at
    </sql>

    <sql id="meetingRoom">
        r.id,r.room_id,r.admin_id,
        m.room_id,m.name,m.capacity,
        m.equipment,m.address,m.status,
        m.created_at
    </sql>

    <select id="getAdminsByRoomId" resultMap="roomAdmins">
        select
        <include refid="adminInfo"/>
        FROM room_admin r LEFT JOIN user u ON r.admin_id = u.user_id
        WHERE r.room_id = #{roomId}
    </select>

    <select id="getAllRoomsOwnedByAdminId" resultMap="meetingRoomByAdminId">
        SELECT
        <include refid="meetingRoom"/>
        FROM room_admin r LEFT JOIN meeting_room m ON r.room_id=m.room_id
        WHERE r.admin_id=#{adminId}
    </select>
</mapper>
